<form action="/url" method="post">
  <input type="url" name="url" id="url">
  {{#if alertMessage}}
  <div class="alert alert-info" role="alert">
    <span class="mr-2">提示</span><span>{{alertMessage}}</span>
  </div>
  {{/if}}

  {{#if cantFindMessage}}
  <div class="alert alert-info" role="alert">
    <span class="mr-2">錯誤</span><span>{{cantFindMessage}}</span>
  </div>
  {{/if}}
  
  {{#if shortURL}}
  <div class="alert alert-info" role="alert">
    <span class="mr-2">Your New URL is:</span> <code>{{shortURL}}</code>
  </div>
  {{/if}}
  <button type="submit">Generate</button>
</form>