{{#if shortURL}}
<div class="result-content" role="alert">
  <h2>Success! Please use this link:</h2>
  <span class="mr-2"><a href="http://localhost:3000{{shortURL}}">http://localhost:3000{{shortURL}}</a>
    {{/if}}

    <div class="result-button">
      <a href=""></a>
    </div>